@model WebApplication.Models.FeatTreeModel
@{ 
}
@foreach (var feat in Model.RootFeats)
{
    <div class="row feat-tree-area">
        <div id="@feat.Name" class="col-md-12 feat-tree-block" onclick="onClick_subtree(this.id)">
            <span><strong>@feat.Name</strong></span>
            <span class="link-img"><a href="@feat.Link" target="_blank"><img src="~/images/link.png" /></a></span>
        </div>
    </div>
}
