
@{
    ViewData["Title"] = "Home Page";
}

<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            <a asp-area="" asp-controller="Search" asp-action="Index" class="btn btn-primary">Feat Search</a>
        </div>
    </div>
</div>
